@font-face {
    font-family: 'Muli';
    font-style: normal;
    font-weight: 200;
    src: local('Muli ExtraLight'), local('Muli-ExtraLight'),
         url('../fonts/Muli/muli-v12-latin-200.woff2') format('woff2'),
         url('../fonts/Muli/muli-v12-latin-200.woff') format('woff'), /* Super Modern Browsers */
         url('../fonts/Muli/muli-v12-latin-200.ttf') format('truetype'); /* Safari, Android, iOS */
  }
  
  /* muli-300 - latin */
  @font-face {
    font-family: 'Muli';
    font-style: normal;
    font-weight: 300;
    src: local('Muli Light'), local('Muli-Light'),
         url('../fonts/Muli/muli-v12-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/Muli/muli-v12-latin-300.woff') format('woff'), /* Super Modern Browsers */
         url('../fonts/Muli/muli-v12-latin-300.ttf') format('truetype'); /* Safari, Android, iOS */
  }
  
  /* muli-regular - latin */
  @font-face {
    font-family: 'Muli';
    font-style: normal;
    font-weight: 400;
    src: local('Muli Regular'), local('Muli-Regular'),
         url('../fonts/Muli/muli-v12-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/Muli/muli-v12-latin-regular.woff') format('woff'), /* Super Modern Browsers */
         url('../fonts/Muli/muli-v12-latin-regular.ttf') format('truetype'); /* Safari, Android, iOS */
  }
  
  /* muli-600 - latin */
  @font-face {
    font-family: 'Muli';
    font-style: normal;
    font-weight: 600;
    src: local('Muli SemiBold'), local('Muli-SemiBold'),
         url('../fonts/Muli/muli-v12-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/Muli/muli-v12-latin-600.woff') format('woff'), /* Super Modern Browsers */
         url('../fonts/Muli/muli-v12-latin-600.ttf') format('truetype'); /* Safari, Android, iOS */
  }
  